.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    outline: solid black 2px;
    padding: 20px;
}

.service-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.service-request {
    background-color: #a9a9a9; /* Sets a light gray background */
    border-bottom: 2px solid black; /* Adds a black bottom border with a thickness of 2px */
    padding: 20px; /* Adds 20px of space inside the element */
}

.service-request .service-request-title {}
